/* html styles */
body {
	margin: 0;
	padding: 0;
	background-color: #808080;
}
/* pixi */
.PIXI-Renderer {
	position: absolute;
}
/* dat-gui */
.dg.ac {
	zoom: 1.5;
}
.dg.main.a {
	float: none;
	margin: auto;
}
.dg {
	color: #eee;
	font: 11px 'Roboto' !important;
	font-weight: 400 !important;
	text-shadow: 0px -2px 1px #111;
}
.dg ul.closed + .close-button {
	opacity: 0.10;
}

